<h3>Stupid coaching</h3>
<div>
  <div class="box">
    <p>
      <%= @question %> <br>
      -YOU
    </p>
  </div>
  <div class="box coach">
    <p>
    <%= @answer %> <br>
    -Your couch
    </p>
  </div>
</div>

<div class="linkto">
<%= link_to "Ask a new question", ask_path %>
</div>
